<launch>
    <include file="$(find freenect_launch)/launch/freenect.launch"> 
    	<!-- use device registration --> 
    	<arg name="depth_registration" value="true" /> 
    </include>

    <node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" >
		<remap from="image" to="/camera/depth_registered/image_raw"/>
		<remap from="camera_info" to="/camera/depth_registered/camera_info"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="base_to_camera" args="0.0 0.0 0.0 0.0 0.0 0.0 /base_link /camera_link 100" />

    <include file="$(find hermesIII)/launch/rtabmap_odometry.launch"></include>

    <include file="$(find hermesIII)/launch/navigation.launch"></include>
</launch>
