<?xml version="1.0"?>
<robot name="HermesIII">
	<!-- Creamos la base -->
	<link name="base_link">
		<visual>
			<origin xyz="0 0 0.09" rpy="0 0 2.35"/>
			<geometry>
				<!--<mesh scale="0.2 0.2 0.2" filename="package://hermesIII/model/stl/Hermes3_2017.stl"/>-->
				<mesh scale="0.2 0.2 0.2" filename="package://hermesIII/model/dae/Hermes3_2017.dae"/>
			</geometry>
		</visual>
	</link>


<!-- PARA GAZEBO -->
<gazebo>
	<plugin name="differential_drive_controller"
			filename="libgazebo_ros_diff_drive.so">
		<leftJoint>base_to_left_wheel</leftJoint>
		<rightJoint>base_to_right_wheel</rightJoint>
		<robotBaseFrame>base_link</robotBaseFrame>
		<wheelSeparation>0.4</wheelSeparation>
		<wheelDiameter>0.04</wheelDiameter>
		<publishWheelJointState>true</publishWheelJointState>
	</plugin>
</gazebo>

</robot>
